<section class="home">
	<div class="container pt-5">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-6">
				<div class="home_text pt-5 text-left">
					<h1>Lonely Wallet</h1>
					<p>Bringing Donors closer to Lone Soldiers.</p>
				</div>
				<div class="home_text pt-5">
					<h1>Donate to a Lone Soldier</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore reprehenderit adipisci voluptatibus nisi facilis consectetur. Optio est quasi aperiam deserunt distinctio, tenetur? Impedit minima totam perferendis quo, beatae voluptatem corrupti!</p>
					<% if current_user&.donor? %>
						<%= link_to "Donate Now", dashboard_donors_user_path(current_user) , class: "btn btn-primary btn-lg mt-2", style: "font-size: 1.5rem;"%>
					<% elsif current_user&.soldier? %>
						<%= link_to "View Balance", dashboard_soldiers_user_path(current_user) , class: "btn btn-primary btn-lg mt-2", style: "font-size: 1.5rem;"%>
					<% else %>
						<%= link_to "Get Started!", new_user_registration_path , class: "btn btn-primary btn-lg mt-2", style: "font-size: 1.5rem;"%>
					<% end %>
				</div>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-6">
				<div class="home_img">
					<img src="https://www.rocketdollar.com/hs-fs/hubfs/hero_ira.png?width=500&height=500&name=hero_ira.png">
				</div>
			</div>
		</div>
	</div>
</section>
<div class="container-fluid home__description bg-secondary ">
	<div class="row">
		<div class="col-md-4 col-sm-12 text-center text-light-50">
			<div class="home__description-card">
				<div class="home__description-image">
					<%= image_tag  "undraw_transfer_money", height: 200 %>
				</div>
				<div class="home__description-body mt-4">
					<h5>Start supporting Lone Soldiers with donations in just a few minutes, all tax deductible!</h5>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-12 text-center text-light-50">
			<div class="home__description-card">
				<div class="home__description-image">
					<%= image_tag  "undraw_make_it_rain", height: 200 %>
				</div>
				<div class="home__description-body mt-4">
					<h5>Don't worry about your money getting lost in organizations. Your donation will be automatically sent to Lone Soldiers directly.</h5>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-12 text-center text-light-50">
			<div class="home__description-card">
				<div class="home__description-image">
					<%= image_tag  "undraw_analysis", height: 200 %>
				</div>
				<div class="home__description-body mt-4">
					<h5>View a breakdown of what soldiers are using the donations for, so you can easily see how you positively impact their life.</h5>
				</div>
			</div>
		</div>
	</div>
</div>
